*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.col-1-of-2 {
  width: 48%;
}

.col-1-of-4 {
  width: 22%;
}

.col-1-of-3 {
  width: 30%;
}
